@using prueba.proyecto.Models


@{
    ViewBag.Title = "Agregar";
}

@{
    AccentureAcademyBookStoreEntities db = new AccentureAcademyBookStoreEntities();
    List<Author> autores = db.Author.OrderBy(au => au.AuthorName).ToList();
    List<Gender> generos = db.Gender.OrderBy(ge => ge.TitleGender).ToList();
    List<Publisher> publisher = db.Publisher.OrderBy(pu => pu.TitlePublisher).ToList();
}
    <div class="container">
        @using (Html.BeginForm())
        {
            <label>Titulo</label>

            <input type="text" name="Title" value=" " placeholder="Ingrese el nombre del libro" class="form-control" pattern="[a-zA-Z ]{5,40}" title="Ingrese el titulo del libro, de 5 a 40 caracteres" />
            <label>Autor</label>

            //<input type="text" name="autores" value=" " placeholder="Nuevo Autor" class="form-control" />
            <select name="autores" class="form-control" required>
                <option>Seleccione un Autor...</option>
                @foreach (Author autor in autores)
                {
                    <option value="@autor.Id">@autor.AuthorName</option>
                }
            </select>

            <label>Genero</label>

            <div id="generos">
                <select name="generos" class="form-control" required>
                    <option>Seleccione un Genero...</option>
                    @foreach (Gender genero in generos)
                    {
                        <option value="@genero.Id">@genero.TitleGender</option>
                    }
                </select>
            </div>

            <label>Editorial</label>
            <div id="publisher">
                <select name="publisher" class="form-control" required>
                    <option>Seleccione una Editorial...</option>
                    @foreach (Publisher publish in publisher)
                    {
                        <option value="@publish.Id">@publish.TitlePublisher</option>
                    }
                </select>
            </div>

            //<input type="text" name="TitlePublisher" value=" " placeholder="Ingrese la Editorial" class="form-control" pattern="[a-zA-Z ]{5,40}" title="Ingrese la Editorial" required />

            <button class="btn btn-primary form-control" style="margin-top:1em">
                Agregar
            </button>

        }
    </div>
