@using prueba.proyecto.Models

@model Book

@{
    ViewBag.Title = "Editar";
}

@{
    AccentureAcademyBookStoreEntities db = new AccentureAcademyBookStoreEntities();
    //List<Author> autores = db.Author.OrderBy(au => au.AuthorName).ToList();
    List<Gender> generos = db.Gender.OrderBy(ge => ge.TitleGender).ToList();
    //List<Publisher> publisher = db.Publisher.OrderBy(pu => pu.TitlePublisher).ToList();
    

}


<div>
    <label for="Title">Titulo</label>
    <input type="text" id="Title" class="form-control" name="Title" value="@this.Model.Title" />
</div>

<div>
    <label for="AuthorName">Autor</label>
    <input type="text" id="AuthorName" class="form-control" name="autores" value="@this.Model.Author.FirstOrDefault().AuthorName"/>
</div>


<div>
    <label for="TitleGender">Genero</label>
    <select id="TitleGender" class="form-control" name="generos" value="@this.Model.Gender.FirstOrDefault().TitleGender">
        <option>Selecciona un Genero...</option>

        @foreach (Gender ge in generos)
        {
            <option @(ge.Id.Equals(ge.Id) ? "selected" : "")
                    value="@ge.Id">
                @ge.TitleGender
            </option>
        }
    </select>
        
</div>

<div>
    <label for="TitlePublisher">Autor</label>
    <input type="text" id="TitlePublisher" class="form-control" name="publisher" value="@this.Model.Publisher.FirstOrDefault().TitlePublisher" />
</div>



<button class="btn btn-primary form-control" style="margin-top:1em">
    Enviar
</button>


